@mixin widthAndHeight($setWidth:200px, $setHeight:200px) {
    width: $setWidth;
    height: $setHeight;
}

@mixin textProperties($setFontSize:23px) {
    font-family: 'Itim', cursive;
    font-size: $setFontSize;
    color: black;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
        @include widthAndHeight(30px,20px);
        outline: black;
        // background-size: 100%, 100%;
        // background-image: none;
        
        @include responsive(mobile) {
            @include widthAndHeight(50px,40px);
        }

        @include responsive(tablet) {
            @include widthAndHeight(80px,70px);
        }

        @include responsive(desktop) {
            @include widthAndHeight(120px,80px);
        }
    }

.carousel-control-next-icon {
    margin-right: 10px;
    &:after {
        content: '>';
        font-size: 55px;
        color:  #80cbc4;
    }

    &:active:after {
        background-color: rgba(225,255,255,0.9);
    }

    &:hover:after {
        color: #4f9a94;
    }

    @include responsive(mobile) {
        &:after {
            font-size: 60px;
        }
    }

    @include responsive(tablet) {
        &:after {
            font-size: 90px;
        }
    }

    @include responsive(desktop) {
        &:after {
            content: '>';
            font-size: 120px;
        }
    }
}

.carousel-control-prev-icon {
    margin-left: 10px;
    &:after {
        content: '<';
        font-size: 55px;
        color:  #80cbc4;  
    }

    &:active:after {
        background-color: rgba(225,255,255,0.9);
    }

    &:hover:after {
        color: #4f9a94
    }

    @include responsive(mobile) {
        &:after {
            content: '<';
            font-size: 60px;
        }
    }

    @include responsive(tablet) {
        &:after {
            font-size: 90px;
        }
    }

    @include responsive(desktop) {
        &:after {
            font-size: 120px;
        }
    }
}

#petBox {
    @include widthAndHeight(300px,300px);
    padding: 5px;

    @include responsive(mobile) {
        @include widthAndHeight(425px,425px);
    }

    @include responsive(tablet) {
        @include widthAndHeight(625px,625px);
    }

    @include responsive(desktop) {
        @include widthAndHeight(925px,925px);
    }
}

#petName {
    @include textProperties(20px);

    @include responsive(mobile) {
        @include textProperties(25px);
    }

    @include responsive(tablet) {
        @include textProperties(30px);
    }

    @include responsive(desktop) {
        @include textProperties(35px);
    }
}

#carousel {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;

    @include responsive(desktop) {
        margin-top: 0;
    }
}

#image {
    @include widthAndHeight(200px,200px);

    @include responsive(mobile) {
        @include widthAndHeight(300px,300px);
    }

    @include responsive(tablet) {
        @include widthAndHeight(450px,450px);
    }

    @include responsive(desktop) {
        @include widthAndHeight(750px,750px);
    }
} 






    

// #petBox {
//     @include responsive(mobile) {
//         @include widthAndHeight(400px,400px);
//         border: 1px solid lightgrey;
//         padding: 10px;
//     } 
//     // hacer tablet y desktop
// }

// #petName {
//     @include responsive(mobile) {
//         @include textProperties(23px)
//     }

//      // hacer tablet y desktop
// }

// #carousel {
//     @include responsive(mobile) {
//         margin-top: 50px;
//         display: flex;
//         align-items: center;
//         flex-direction: row;
//         justify-content: space-around;
//     }
// }

// .arrows {
//     @include responsive(mobile) {
//         @include widthAndHeight(50px,50px);
//         cursor: pointer
//     }

//     @include responsive(tablet) {
//         @include widthAndHeight(100px,100px);
//         cursor: pointer
//     }

//     @include responsive(desktop) {
//         @include widthAndHeight(130px,130px);
//         cursor: pointer
//     }
// }

// #image {
//     @include responsive(mobile) {
//         @include widthAndHeight(300px,300px);
//     }
//     @include responsive(tablet) {
//         @include widthAndHeight(550px,550px);
//     }

//     @include responsive(desktop) {
//         @include widthAndHeight(700px,700px);
//     }
// }  



