@mixin widthAndHeight($setWidth:200px, $setHeight:200px) {
    width: $setWidth;
    height: $setHeight;
}

@mixin textProperties($setFontSize:23px) {
    font-family: 'Itim', cursive;
    font-size: $setFontSize;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
        @include widthAndHeight(30px,20px);
        outline: black;
        @include responsive(mobile) {
            @include widthAndHeight(50px,40px);
        }

        @include responsive(tablet) {
            @include widthAndHeight(80px,70px);
        }

        @include responsive(desktop) {
            @include widthAndHeight(120px,80px);
        }
    }

.carousel-control-next-icon {
    margin-right: 10px;
    &:after {
        content: '>';
        font-size: 55px;
        color:  #80cbc4;
    }

    &:active:after {
        background-color: rgba(225,255,255,0.9);
    }

    &:hover:after {
        color: #4f9a94;
    }

    @include responsive(mobile) {
        &:after {
            font-size: 60px;
        }
    }

    @include responsive(tablet) {
        &:after {
            font-size: 90px;
        }
    }

    @include responsive(desktop) {
        &:after {
            content: '>';
            font-size: 120px;
        }
    }
}

.carousel-control-prev-icon {
    margin-left: 10px;
    &:after {
        content: '<';
        font-size: 55px;
        color:  #80cbc4;  
    }

    &:active:after {
        background-color: rgba(225,255,255,0.9);
    }

    &:hover:after {
        color: #4f9a94
    }

    @include responsive(mobile) {
        &:after {
            content: '<';
            font-size: 60px;
        }
    }

    @include responsive(tablet) {
        &:after {
            font-size: 90px;
        }
    }

    @include responsive(desktop) {
        &:after {
            font-size: 120px;
        }
    }
}

#petBox {
    @include widthAndHeight(300px,300px);
    padding: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
  
    @include responsive(mobile) {
        @include widthAndHeight(425px,425px);
    }

    @include responsive(tablet) {
        @include widthAndHeight(625px,625px);
    }

    @include responsive(desktop) {
        @include widthAndHeight(725px,725px);
    }
}

#petName {
    @include textProperties(20px);
    // justify-content: center;
    // align-items: center;
    // display: flex;
    position: absolute;
    top: 40px;
    color: #ca2c92 !important;

    @include responsive(mobile) {
        @include textProperties(25px);
    }

    @include responsive(tablet) {
        @include textProperties(30px);
        top: 80px;
    }

    @include responsive(desktop) {
        margin: 10px;
        @include textProperties(30px);
    }
}

.wrapper {
    position: relative;
}

#carousel {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;

    @include responsive(desktop) {
        margin-top: 0;
    }
}

#image {
    @include widthAndHeight(200px,200px);

    @include responsive(mobile) {
        @include widthAndHeight(300px,300px);
    }

    @include responsive(tablet) {
        @include widthAndHeight(450px,450px);
    }

    @include responsive(desktop) {
        @include widthAndHeight(650px,650px);
    }
}