.arrows {
    display: flex;
    width: 200px;
    height: 200px;
    cursor: pointer;
 
    @include responsive(mobile) {
        width: 50px;
        height: 50px;
        cursor: pointer
    }

    @include responsive(tablet) {
        width: 80px;
        height: 80px;
        cursor: pointer
    }

    @include responsive(desktop) {
        width: 120px;
        height: 120px; 
        cursor: pointer
    }
}

#image {
    @include responsive(mobile) {
        width: 300px;
        height: 300px;
    }
    @include responsive(tablet) {
        width: 400px;
        height: 400px;
    }

    @include responsive(desktop) {
        width: 500px;
        height: 500px;
    }
}  

#carousel {
    @include responsive(mobile) {
        margin-top: 50px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
    }
}

