@mixin display($direction:row) {
    display: flex;
    align-items: center;
    flex-direction: $direction;
}

@mixin widthAndHeight($setWidth:40px, $setHeight:60px) {
    width: $setWidth;
    height: $setHeight
}

@mixin textProperties($setFontSize:23px) {
    text-decoration: none;
    font-family: 'Itim', cursive;
    font-size: $setFontSize;
    color: black;
}

@mixin justifyAndTextStyle() {
    justify-content: center;
    list-style-type: none;
}

 .icon-container {
    @include display(row);
    justify-content: space-around;
    // border: 1px solid lightgrey;
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
    width: 100%;
}

#menu {
    @include widthAndHeight(35px,35px);
    cursor: pointer;
    margin-right: 20px;    
}

#logo {
    @include widthAndHeight(150px,100px);
    margin-right: 170px;
}

.nav-bar {
    @include display(column);
    border: 1px solid lightgrey;
  
}

.nav-bar {
    li {
        @include display(column);
        @include justifyAndTextStyle();
        @include widthAndHeight(100%,60px);
    }   
}
        
.nav-bar {
    li {
        a {
            @include textProperties(23px);
            &:hover {
                color: #80cbc4!important;
                border-bottom: 3px solid  #80cbc4;
            }
        }
    }   
}   
        
        
    

    

    







// @mixin display($direction:row) {
//     display: flex;
//     align-items: center;
//     flex-direction: $direction;
// }

// @mixin widthAndHeight($setWidth:40px, $setHeight:60px) {
//     width: $setWidth;
//     height: $setHeight
// }

// @mixin textProperties($setFontSize:23px) {
//     text-decoration: none;
//     font-family: 'Itim', cursive;
//     font-size: $setFontSize;
//     color: black;
// }

// @mixin justifyAndTextStyle() {
//     justify-content: center;
//     list-style-type: none;
// }

// .icon-container {
//     @include responsive(mobile) {
//         @include display(row);
//         justify-content: space-around;
//         border: 1px solid lightgrey;
//         width: 100%;
//     }

//     @include responsive(desktop) {
//         justify-content: space-evenly;
//         @include widthAndHeight(100%,200px);
//     }
// }

// #menu {
//     @include responsive(mobile) {
//         @include widthAndHeight(35px,35px);
//         cursor: pointer; 
//     }

//     @include responsive(tablet) {
//         @include widthAndHeight(70px,50px);
//         cursor: pointer; 
//     }
//     @include responsive(desktop) {
//         @include widthAndHeight(60px,50px);
//         cursor: pointer; 
//         margin-left: 400px;
//     }
// }

// #logo {
//     @include responsive(mobile) {
//         @include widthAndHeight(150px,100px);
//         margin-right: 170px;
//     }

//     @include responsive(tablet) {
//         @include widthAndHeight(350px,200px);
//         margin-right: 200px;
//     }

//     @include responsive(desktop) {
//         @include widthAndHeight(300px,170px);
//         margin-right: 50px;
//     }
// }

// .nav-bar {
//     @include responsive(mobile) {
//         @include display(column);
//         border: 1px solid lightgrey;
//     }
//     @include responsive(desktop) {
//         @include display(row);
//         border: 1px solid lightgrey;
//     }
// }

// .nav-bar {
//     li {
//         @include responsive(mobile) {
//             @include display(column);
//             @include justifyAndTextStyle();
//             @include widthAndHeight(100%,60px);
//         }

//         @include responsive(tablet) {
//             @include display(column);
//             @include widthAndHeight(100%,100px);
//         }

//         @include responsive(desktop) {
//             @include display(column);
//             @include justifyAndTextStyle();
//             @include widthAndHeight(100%,80px);
//         }
//     }   
// }

// .nav-bar {
//             li {
//                 a {
//                     @include responsive(mobile) {
//                         @include textProperties(23px);
//                         &:hover {
//                             color: #80cbc4!important;
//                             border-bottom: 3px solid  #80cbc4;
//                         }
//                     } 

//                     @include responsive(tablet) {
//                         @include textProperties(35px);
//                     } 

//                     @include responsive(desktop) {
//                         @include textProperties(30px);
//                     } 
//                 }
//             }   
//         }   



        
