@mixin display($direction:row) {
    display: flex;
    align-items: center;
    flex-direction: $direction;
}

.icon-container {
    @include responsive(mobile) {
        @include display(row);
        justify-content: space-around;
        border: 1px solid lightgrey;
        width: 100%;
    }
}

#menu {
    @include responsive(mobile) {
        width: 40px;
        height: 40px;
        cursor: pointer; 
    }
}

#logo {
    @include responsive(mobile) {
        width: 150px;
        height: 100px;
        margin-right: 170px;
    }
}

.nav-bar {
    @include responsive(mobile) {
        @include display(column);
        border: 1px solid lightgrey;
    }
}

.nav-bar {
    li {
        @include responsive(mobile) {
            @include display(column);
            justify-content: center;
            list-style-type: none;
            width: 100%;
            height: 60px;
        }
    }   
}


.nav-bar {
            li {
                a {
                    @include responsive(mobile) {
                        text-decoration: none;
                        font-family: 'Itim', cursive;
                        font-size: 23px;
                        color: black; 
                        &:hover {
                            color: #80cbc4!important;
                            border-bottom: 3px solid  #80cbc4;
                        }
                    } 
                }
            }   
        }   



        
