@mixin display($direction:column) {
    display: flex;
    align-items: center;
    flex-direction: $direction;
    justify-content: center;
}

@mixin widthAndHeight($setWidth:200px, $setHeight:200px) {
    width: $setWidth;
    height: $setHeight
}

@mixin textProperties($setFontSize:23px) {
    font-family: 'Itim', cursive;
    font-size: $setFontSize;
    color: black;
}

.text {
    @include textProperties(19px);
    margin-bottom: 25px;

    @include responsive(mobile) {
        @include textProperties(21px);
        margin-bottom: 45px;
    }
         
}

#boxes-container {
       display: flex ;
       width: 100%;
       flex-direction: column;
    
    @include responsive(tablet) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    @include responsive(desktop) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

.box {
    @include widthAndHeight(100%,300px);
   
    @include display(column);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    margin-top: 20px;
    padding: 5px;

    @include responsive(mobile) {
        @include widthAndHeight(100%,425px);
    }

    @include responsive(tablet) {
        @include widthAndHeight(50%,400px);
    }

    @include responsive(desktop) {
        margin-right: 20px;
        @include widthAndHeight(30%,500px);
    }
}

#box1 {
    @include responsive(tablet) {
        flex: 2;
    }
}

#box2 {
    @include responsive(tablet) {
        flex: 2;
    }
}

#box3 {
    @include responsive(tablet) {
        flex: 0 auto;
    }

    @include responsive(desktop) {
        margin-right: 0;
    }
}

img {
    @include widthAndHeight(200px,200px); 
    @include responsive(mobile) {
        @include widthAndHeight(250px,250px);
    }

    @include responsive(desktop) {
        @include widthAndHeight(250px,250px);
    }
 
}